In [1]:
import requests
import numpy as np
import pandas as pd
import lxml.html as lh
from bs4 import BeautifulSoup

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [2]:
tr_elements = doc.xpath('//tr')

In [4]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()

    col.append((name,[]))

In [6]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
# display the first 5 rows of the data frame
df.head()

            Borough     Neighbourhood\n Postcode
0      Not assigned      Not assigned\n      M1A
1      Not assigned      Not assigned\n      M2A
2        North York         Parkwoods\n      M3A
3        North York  Victoria Village\n      M4A
4  Downtown Toronto      Harbourfront\n      M5A

In [9]:
# drop all rows with not assigned in the borough column
df = df.set_index("Borough")
df = df.drop("Not assigned", axis=0)

In [10]:
#rest index
df.reset_index ( inplace = True)

In [11]:
df.head ()

            Borough     Neighbourhood\n Postcode
0        North York         Parkwoods\n      M3A
1        North York  Victoria Village\n      M4A
2  Downtown Toronto      Harbourfront\n      M5A
3  Downtown Toronto       Regent Park\n      M5A
4        North York  Lawrence Heights\n      M6A

In [12]:
#remove /n from dataframe
df = df.replace('\n','', regex=True)

In [13]:
df.head ()

            Borough   Neighbourhood\n Postcode
0        North York         Parkwoods      M3A
1        North York  Victoria Village      M4A
2  Downtown Toronto      Harbourfront      M5A
3  Downtown Toronto       Regent Park      M5A
4        North York  Lawrence Heights      M6A

In [16]:
#rename column neighbourhood\n to Neighbourhood
df.rename(columns={'Neighbourhood\n':'Neighbourhood'}, inplace=True)

Index(['Borough', 'Neighbourhood', 'Postcode'], dtype='object')

In [17]:
#group by columns
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [18]:
df.head (22)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1       M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2       M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3       M1G  Scarborough                                     Woburn, Woburn
4       M1H  Scarborough                               Cedarbrae, Cedarbrae
5       M1J  Scarborough           Scarborough Village, Scarborough Village
6       M1K  Scarborough  East Birchmount Park, Ionview, Kennedy Park, E...
7       M1L  Scarborough  Clairlea, Golden Mile, Oakridge, Clairlea, Gol...
8       M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village Wes...
9       M1N  Scarborough  Birch Cliff, Cliffside West, Birch Cliff, Clif...
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough               Maryvale, Wexford, Maryvale, Wexford
12      M1S  Scarborough                               Agincourt, Agincourt
13      M1T  Scarborough  Clarks Corners, Sullivan, Tam O'Shanter, Clark...
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                   L'Amoreaux West, L'Amoreaux West
16      M1X  Scarborough                           Upper Rouge, Upper Rouge
17      M2H   North York               Hillcrest Village, Hillcrest Village
18      M2J   North York  Fairview, Henry Farm, Oriole, Fairview, Henry ...
19      M2K   North York                   Bayview Village, Bayview Village
20      M2L   North York  Silver Hills, York Mills, Silver Hills, York M...
21      M2M   North York   Newtonbrook, Willowdale, Newtonbrook, Willowdale

In [19]:
df.shape

(103, 3)