In [1]:
import requests
import numpy as np
import pandas as pd
import lxml.html as lh
from bs4 import BeautifulSoup

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [2]:
tr_elements = doc.xpath('//tr')

In [4]:
#Create empty list
col=[]
i=0
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()

    col.append((name,[]))

In [6]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [8]:
# display the first 5 rows of the data frame
df.head()

            Borough     Neighbourhood\n Postcode
0      Not assigned      Not assigned\n      M1A
1      Not assigned      Not assigned\n      M2A
2        North York         Parkwoods\n      M3A
3        North York  Victoria Village\n      M4A
4  Downtown Toronto      Harbourfront\n      M5A

In [9]:
# drop all rows with not assigned in the borough column
df = df.set_index("Borough")
df = df.drop("Not assigned", axis=0)

In [10]:
#rest index
df.reset_index ( inplace = True)

In [11]:
df.head ()

            Borough     Neighbourhood\n Postcode
0        North York         Parkwoods\n      M3A
1        North York  Victoria Village\n      M4A
2  Downtown Toronto      Harbourfront\n      M5A
3  Downtown Toronto       Regent Park\n      M5A
4        North York  Lawrence Heights\n      M6A

In [12]:
#remove /n from dataframe
df = df.replace('\n','', regex=True)

In [13]:
df.head ()

            Borough   Neighbourhood\n Postcode
0        North York         Parkwoods      M3A
1        North York  Victoria Village      M4A
2  Downtown Toronto      Harbourfront      M5A
3  Downtown Toronto       Regent Park      M5A
4        North York  Lawrence Heights      M6A

In [16]:
#rename column neighbourhood\n to Neighbourhood
df.rename(columns={'Neighbourhood\n':'Neighbourhood'}, inplace=True)

Index(['Borough', 'Neighbourhood', 'Postcode'], dtype='object')

In [17]:
#group by columns
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [18]:
df.head (22)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1       M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2       M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3       M1G  Scarborough                                     Woburn, Woburn
4       M1H  Scarborough                               Cedarbrae, Cedarbrae
5       M1J  Scarborough           Scarborough Village, Scarborough Village
6       M1K  Scarborough  East Birchmount Park, Ionview, Kennedy Park, E...
7       M1L  Scarborough  Clairlea, Golden Mile, Oakridge, Clairlea, Gol...
8       M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village Wes...
9       M1N  Scarborough  Birch Cliff, Cliffside West, Birch Cliff, Clif...
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough               Maryvale, Wexford, Maryvale, Wexford
12      M1S  Scarborough                               Agincourt, Agincourt
13      M1T  Scarborough  Clarks Corners, Sullivan, Tam O'Shanter, Clark...
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                   L'Amoreaux West, L'Amoreaux West
16      M1X  Scarborough                           Upper Rouge, Upper Rouge
17      M2H   North York               Hillcrest Village, Hillcrest Village
18      M2J   North York  Fairview, Henry Farm, Oriole, Fairview, Henry ...
19      M2K   North York                   Bayview Village, Bayview Village
20      M2L   North York  Silver Hills, York Mills, Silver Hills, York M...
21      M2M   North York   Newtonbrook, Willowdale, Newtonbrook, Willowdale

In [19]:
df.shape

(103, 3)

In [21]:
#read geospatial data and save it to a data frame df2
data_url ='http://cocl.us/Geospatial_data'
df2= pd.read_csv(data_url)

In [22]:
df2.head ()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
#rename column postal code to postcode
df2.rename(columns={'Postal Code':'Postcode'}, inplace=True)

In [24]:
df2.head ()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [25]:
df3 = pd.merge(df, df2, how='inner', on = 'Postcode')

In [27]:
#view data frame to confirm if the latitude and longitude has been added to the new data frame
df3.head (50)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern, Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union, Highla...",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill, Guildwood, ...",43.763573,-79.188711
3,M1G,Scarborough,"Woburn, Woburn",43.770992,-79.216917
4,M1H,Scarborough,"Cedarbrae, Cedarbrae",43.773136,-79.239476
5,M1J,Scarborough,"Scarborough Village, Scarborough Village",43.744734,-79.239476
6,M1K,Scarborough,"East Birchmount Park, Ionview, Kennedy Park, E...",43.727929,-79.262029
7,M1L,Scarborough,"Clairlea, Golden Mile, Oakridge, Clairlea, Gol...",43.711112,-79.284577
8,M1M,Scarborough,"Cliffcrest, Cliffside, Scarborough Village Wes...",43.716316,-79.239476
9,M1N,Scarborough,"Birch Cliff, Cliffside West, Birch Cliff, Clif...",43.692657,-79.264848
10,M1P,Scarborough,"Dorset Park, Scarborough Town Centre, Wexford ...",43.757410,-79.273304
11,M1R,Scarborough,"Maryvale, Wexford, Maryvale, Wexford",43.750072,-79.295849
12,M1S,Scarborough,"Agincourt, Agincourt",43.794200,-79.262029
13,M1T,Scarborough,"Clarks Corners, Sullivan, Tam O'Shanter, Clark...",43.781638,-79.304302
14,M1V,Scarborough,"Agincourt North, L'Amoreaux East, Milliken, St...",43.815252,-79.284577
15,M1W,Scarborough,"L'Amoreaux West, L'Amoreaux West",43.799525,-79.318389
16,M1X,Scarborough,"Upper Rouge, Upper Rouge",43.836125,-79.205636
17,M2H,North York,"Hillcrest Village, Hillcrest Village",43.803762,-79.363452
18,M2J,North York,"Fairview, Henry Farm, Oriole, Fairview, Henry ...",43.778517,-79.346556
19,M2K,North York,"Bayview Village, Bayview Village",43.786947,-79.385975
20,M2L,North York,"Silver Hills, York Mills, Silver Hills, York M...",43.757490,-79.374714
21,M2M,North York,"Newtonbrook, Willowdale, Newtonbrook, Willowdale",43.789053,-79.408493
22,M2N,North York,"Willowdale South, Willowdale South",43.770120,-79.408493
23,M2P,North York,"York Mills West, York Mills West",43.752758,-79.400049
24,M2R,North York,"Willowdale West, Willowdale West",43.782736,-79.442259
25,M3A,North York,"Parkwoods, Parkwoods",43.753259,-79.329656
26,M3B,North York,"Don Mills North, Don Mills North",43.745906,-79.352188
27,M3C,North York,"Flemingdon Park, Don Mills South, Flemingdon P...",43.725900,-79.340923
28,M3H,North York,"Bathurst Manor, Downsview North, Wilson Height...",43.754328,-79.442259
29,M3J,North York,"Northwood Park, York University, Northwood Par...",43.767980,-79.487262
30,M3K,North York,"CFB Toronto, Downsview East, CFB Toronto, Down...",43.737473,-79.464763
31,M3L,North York,"Downsview West, Downsview West",43.739015,-79.506944
32,M3M,North York,"Downsview Central, Downsview Central",43.728496,-79.495697
33,M3N,North York,"Downsview Northwest, Downsview Northwest",43.761631,-79.520999
34,M4A,North York,"Victoria Village, Victoria Village",43.725882,-79.315572
35,M4B,East York,"Woodbine Gardens, Parkview Hill, Woodbine Gard...",43.706397,-79.309937
36,M4C,East York,"Woodbine Heights, Woodbine Heights",43.695344,-79.318389
37,M4E,East Toronto,"The Beaches, The Beaches",43.676357,-79.293031
38,M4G,East York,"Leaside, Leaside",43.709060,-79.363452
39,M4H,East York,"Thorncliffe Park, Thorncliffe Park",43.705369,-79.349372
40,M4J,East York,"East Toronto, East Toronto",43.685347,-79.338106
41,M4K,East Toronto,"The Danforth West, Riverdale, The Danforth Wes...",43.679557,-79.352188
42,M4L,East Toronto,"The Beaches West, India Bazaar, The Beaches We...",43.668999,-79.315572
43,M4M,East Toronto,"Studio District, Studio District",43.659526,-79.340923
44,M4N,Central Toronto,"Lawrence Park, Lawrence Park",43.728020,-79.388790
45,M4P,Central Toronto,"Davisville North, Davisville North",43.712751,-79.390197
46,M4R,Central Toronto,"North Toronto West, North Toronto West",43.715383,-79.405678
47,M4S,Central Toronto,"Davisville, Davisville",43.704324,-79.388790
48,M4T,Central Toronto,"Moore Park, Summerhill East, Moore Park, Summe...",43.689574,-79.383160
49,M4V,Central Toronto,"Deer Park, Forest Hill SE, Rathnelly, South Hi...",43.686412,-79.400049